*{
    margin: 0;
    font-family: Inconsolata;
    color: rgb(87, 87, 87);
}
hr{
    width: 142.5%;
}
body{
    background-color: rgb(253,251,251);
    font-size: 110%;
}
#cabecalho{
    background-color: lightblue;
    margin-top: 0%;
    padding: 1%;
    top: 0;
    position: fixed;
    width: 100%;
    height: 18%;
    line-height: 99%;
}
#titulo, #subtitulo, #menu{
    margin: 1%;
}
#resumo{
    width: 40%;
}
.top{
    display: inline-block;
    margin-left:2%;
}
table, tr, th{
    border: 1px solid gray;
    margin-top: 2%;
    float: right;
}
main{
    margin-top: 10%;
    margin-bottom: 1%;
}
#minha_foto{
    border-radius: 100%;
    margin: 6%;
}
#inicio{
    width: 70%;
}
#aprese{
    text-align: center;
    background-color: rgb(142, 142, 247);
    width: 40%;
    margin-left: 4%;
    border: 5px solid lightcyan;
}
#foto, #aprese{
    display: inline-block;
    height: 50%;
    align-items: center;
    vertical-align: middle;
}
#lista{
    width: 34%;
}
#lista, #adicao{
    display: inline-block;
    vertical-align: top;
}
#licoes_aprendidas{
    float: left;
    margin: 2%;
}
#licoes_a_aprender{
    display: inline-block;
    clear: left;
    margin: 2%;
    width: 40%;
}
#adicao{
    width: 65%;
}
#aprendizado, #experi, #rodape{
    clear: both;
}
#aprendizado, #experi{
    width: 40%;
    margin: 2%;
    display: inline-block;
    vertical-align: top;
    border: 5px solid lightcyan;
}
#rodape{
    bottom: 0;
    position: fixed;
    background-color: lightblue;
    width: 100%;
}
#rodape_text{
    text-align: center;
}
